* {
    margin: 0;
    padding: 0;
    
    color: white;
    
    font-family: "Oxygen";
}

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0px;
    
    background: #344975;
    
    z-index: 10;
    
    opacity: 0;
    
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 8s;
    animation-fill-mode: forwards;
}

.nav-link {
    padding: 20px;
    
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.nav-link:hover {
    font-weight: bolder;
}

.welcome-div {
    margin: auto;
    width: 600px;
    max-width: 70%;
    margin-top: 150px;
    padding: 30px;
    
    background: #344975;
    border-radius: 50px;
    
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.welcome-text-large {
    display: block;
    padding-bottom: 10px;
    
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    
    opacity: 0;
    
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.welcome-text-small {
    display: block;
    
    font-size: 25px;
    text-align: center;
    
    opacity: 0;
    
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.see-below {
    margin: auto;
    padding: 75px 0px;
    
    color: black;
    
    font-size: 20px;
    text-align: center;
}

.fade-in-wrapper {
    opacity: 0;
    
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

.divider {
    display: block;
    
    margin: 50px auto 50px auto;
    
    width: 300px;
    height: 4px;
    background: #344975;
}

section {
    margin: auto;
    
    width: 600px;
    max-width: 90%;
    
    font-size: 20px;
}

.section-header {
    margin-top: -90px;
    padding-top: 90px;
    padding-bottom: 35px;
    
    color: black;
    
    font-size: 35px;
    text-align: center;
}

.photo {
    display: block;
    margin: 0px auto 30px auto;
    
    width: 200px;
    height: auto;
    border-radius: 100px;
    
    max-width: 100%;
    
    border: 2px solid black;
}

.section-text {
    padding: 10px;
    
    color: black;
    
    font-size: 20px;
    text-align: justify;
}

em {
    color: black;
}

.internal-link {
    color: black;
}

.internal-link:hover {
    font-weight: bolder;
}

.contact-link:hover {
    color: #577dba;
}

.contact-link:hover .fas {
    color: inherit;
}

.contact-link:hover .fa {
    color: inherit;
}

footer {
    display: flex;
    justify-content: flex-end;
    
    margin-top: 50px;
    padding: 20px;
    
    background: #344975;
    
    font-size: 20px;
}
    
.project-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    grid-gap: 30px;
}

.project-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;
    
    padding-top: 35px;
    
    color: black;
}

.project-grid-image {
    display: block;
    max-width: 200px;
    height: auto;
    
    margin: 0px auto 20px auto;
    
    background: black;
    
    border-radius: 100px;
    border: 2px solid black;
}

.odd-grid-item {
    position: relative;
    margin: auto;
    
    max-width: 205px;
}

.project-grid-text {
    display: block;
    margin: auto;
    max-width: 200px;
    
    color: black;
    text-align: center;
}

.project-link {
    text-decoration: none;
}
    
.contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: auto;
    
    width: 400px;
    max-width: 100%;
    
    padding-top: 35px;
}
    
.link-wrapper {
    margin: auto;
}
    
.contact-link {  
    display: flex;
    flex-direction: column;
    align-items: center;
    
    max-width: 100px;
    
    margin: 20px 0px;
    
    color: black;
    text-decoration: none;
}
    
.icon {
    font-size: 100px;
    
    color: black;
}


@media (min-width: 485px) {
    nav {
        justify-content: flex-end;
    }
    
    .welcome-div {
        margin-top: 200px;
    }
    
    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        justify-items: center;
        align-items: flex-start;
    
        padding: 10px;
    }
    
    .contact-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .icon {
        font-size: 80px;
    }  
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
} 